body, html {
  height: 100%;
  margin: 0;
  font-family: Times New Roman;
  font-size: 25px;
  line-height: 1.5;
}

h1 {
  font-family: Apple Chancery;
  font-size: 50px;
  color: black;

}


/* Style tab links */
.tablink {
  background-color:plum;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 16px;
  font-family: Apple Chancery;
  font-size: 26px;
  width: 20%;
  font-weight: bold;
}

.tablink:hover {
  background-color: #766;
}

.container {
  text-align: center;
}

.tabcontent {
  color: black;
  display: none;
  padding: 70px 30px;
  
}


#About {
  background-color:palevioletred;
  font-family: 'Times New Roman', Times, serif;
  }




