body,html {
  height: 100%;
  margin: 0;
  font-family: Times New Roman;

}

/* Style tab links */
.tablink {
  background-color: #299;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {
  background-color: purple;
}
#Fall {
  background-color: orange;
}
#Winter {
  background-color: blue;
}
#Spring {
  background-color: green;
}
#Summer {
  background-color: gold;
}
